.android-compact {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.android-compact .div {
  background-color: #ffffff;
  height: 917px;
  position: relative;
  width: 412px;
}

.android-compact .upload {
  align-items: center;
  background-color: #f5b700;
  border-radius: 5px;
  display: inline-flex;
  gap: 10px;
  height: 61px;
  justify-content: center;
  left: 134px;
  padding: 10px 12px;
  position: absolute;
  top: 730px;
}

.android-compact .group {
  height: 38.13px;
  position: relative;
  width: 38.13px;
}

.android-compact .text-wrapper {
  color: #9d3221;
  font-family: "Dosis", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.android-compact .about-me {
  height: 122px;
  left: 43px;
  position: absolute;
  top: 234px;
  width: 327px;
}

.android-compact .overlap-group {
  background-color: var(--f-4f-4f-4);
  border-radius: 10px;
  height: 122px;
  position: relative;
  width: 325px;
}

.android-compact .text-wrapper-2 {
  color: #8a8a8a;
  font-family: "Dosis", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
}

.android-compact .name {
  background-color: var(--f-4f-4f-4);
  border-radius: 10px;
  height: 55px;
  left: 43px;
  position: absolute;
  top: 169px;
  width: 325px;
}

.android-compact .group-2 {
  height: 25px;
  left: 18px;
  position: relative;
  top: 15px;
  width: 82px;
}

.android-compact .fi-user {
  height: 24px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 24px !important;
}

.android-compact .text-wrapper-3 {
  color: var(--x-8a-8a-8a);
  font-family: "Dosis", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.android-compact .vector {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 131px;
  width: 392px;
}

.android-compact .text-wrapper-4 {
  color: #000000;
  font-family: "Dosis", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 30px;
  left: 137px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 92px;
}

.android-compact .overlap-wrapper {
  height: 55px;
  left: 43px;
  position: absolute;
  top: 530px;
  width: 325px;
}

.android-compact .overlap {
  border-radius: 10px;
  height: 55px;
  position: relative;
}

.android-compact .contact-URL {
  background-color: var(--f-4f-4f-4);
  border-radius: 10px;
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 325px;
}

.android-compact .group-3 {
  height: 34px;
  left: 53px;
  position: relative;
  top: 10px;
  width: 261px;
}

.android-compact .fi-link {
  height: 34px !important;
  left: 225px !important;
  position: absolute !important;
  top: 0 !important;
  width: 34px !important;
}

.android-compact .text-wrapper-5 {
  color: #8a8a8a;
  font-family: "Dosis", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.android-compact .facebook-original {
  height: 27px !important;
  left: 15px !important;
  position: absolute !important;
  top: 14px !important;
  width: 27px !important;
}

.android-compact .overlap-group-wrapper {
  height: 55px;
  left: 43px;
  position: absolute;
  top: 386px;
  width: 325px;
}

.android-compact .group-4 {
  height: 34px;
  left: 53px;
  position: relative;
  top: 15px;
  width: 260px;
}

.android-compact .fi-link-2-2 {
  height: 34px !important;
  left: 224px !important;
  position: absolute !important;
  top: 0 !important;
  width: 34px !important;
}

.android-compact .text-wrapper-6 {
  color: #8a8a8a;
  font-family: "Dosis", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.android-compact .linkedin-original {
  height: 27px !important;
  left: 14px !important;
  position: absolute !important;
  top: 14px !important;
  width: 27px !important;
}

.android-compact .group-5 {
  background-color: var(--f-4f-4f-4);
  border-radius: 10px;
  height: 55px;
  left: 43px;
  position: absolute;
  top: 458px;
  width: 325px;
}

.android-compact .group-6 {
  height: 34px;
  left: 53px;
  position: absolute;
  top: 11px;
  width: 261px;
}

.android-compact .instagram-instance {
  height: 32px !important;
  left: 12px !important;
  position: absolute !important;
  top: 12px !important;
  width: 32px !important;
}
